.event-list {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: calc(100vh - 190px);
  overflow: auto;

  &__item {
    display: flex;
    align-items: center;
    padding-right: 4px;

    &:not(:last-child) {
      border-bottom: 1px solid #f0f0f0;
    }

    &:hover {
      background: var(--background-color);

      .edit-btn,
      .delete-btn {
        display: inline;
      }
    }
  }

  &__recurring {
    display: none;
  }

  .sidebar-inner & {
    .event-list {
      &__recurring {
        display: inline;
      }

      &__item {
        &:hover {
          .event-list__recurring {
            display: none;
          }
        }
      }
    }
  }

  &__date {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--muted);
    flex: 0 0 42px;
  }

  &__name {
    flex: 1;
    color: #222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 24px;
  }

  &__note {
    color: var(--muted);
    font-size: 0.9em;
  }

  &__icon {
    position: relative;
  }

  &__age {
    font-size: 0.6em;
    color: var(--muted);
    position: absolute;
    top: -4px;
    left: 12px;
  }

  &__wheather-icon {
    position: relative;
    top: -6px;
  }

  &__recurring {
    svg {
      width: 10px;
      height: 10px;
    }
  }
}

.past-event {
  opacity: 0.5;
  color: #222
}