@use "./utils.scss";

.sidebar {
  transition: .3s;
  white-space: nowrap;
  z-index: 1;
  margin-inline-end: 1.5rem;
  transition: 0.3s ease;
  @extend %glass-background;

  &.ant-layout-sider-collapsed {
    margin-inline-end: 0;
  }

  @media (max-width: 628px) {
    position: fixed;
    background-color: white;;
  }
}

.sidebar-inner {
  padding: 1rem 0.5rem;
  overflow: hidden;
}

.sidebar-extender {
  width: 2.5rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 1.25rem;
  @extend %glass-background;

  &:hover {
    background-color: #f0f4ff;
  }
}

.sidebar-title {
  font-size: 1.1rem;
  margin: 0 0 1rem 0;
  color: var(--primary-color);
}

.sidebar-search {
  margin-bottom: .5rem;
  display: flex;
  align-items: center;
  gap: .5rem;
}

.search-input {
  margin: 0;
  width: auto;
  flex: 1;
}
